@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;padding: 0; margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(217, 128, 221);
    width: 100%;
    
}

.contador{padding:1rem;width: 10rem;margin: 10rem; display: flex; align-items: center; justify-content: center;background-color: white;border-radius: 20px;box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.532);font-size: 2rem;}

#counter{ display: flex; color: rgb(11, 11, 11);background-color: white ; margin: 2rem;padding: 3rem;border-radius: 20px; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.532);}




p{font-size: 1rem; color: rgb(252, 252, 252);}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid rgb(91, 11, 219);
    background-color: rgb(171, 85, 85);
    color: rgb(244, 241, 241);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.532) ;

}

button:hover{border: 3px solid rgb(171, 85, 85);
    background-color: rgb(91, 11, 219);
    color: rgb(171, 85, 85); transition: 1s;}



#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 18pt;
    font-weight: 600;
}
footer{background-color: black; padding: 50px;width: 100%; display: flex; justify-content: center; align-items: center;margin-top: 5rem;}

@media(min-width:320px) and (max-width:992px){
    body{background-color: rgb(143, 143, 220);}
    h1{font-size: 1rem;text-align: center;}
    p{font-size: 0.5rem;text-align: center;}

    footer{width: 100%;height: 21vh;}
    
        

}